<% content_for :head do %>
  <%= javascript_include_tag :jquery_ui %>
  <%= javascript_include_tag :mark_it_up %>
  <%= stylesheet_link_tag :jquery_ui %>
  <%= stylesheet_link_tag :mark_it_up %>
  <script type="text/javascript">
    var gallerySender;

    $(document).ready(function() {
      $("#tabs").tabs();
      $("#content_content_it").markItUp(mySettings);
      $("#content_content_en").markItUp(mySettings);
      $('#add-attach').click(function() {
        rand_id = Math.random().toString().split('.')[1];
        $('#add-attach').before('<input id="attachment_toadd_' + rand_id + '" name="content[attachments_toadd[file]]" type="file" />');
      });
      $(".gallery-browse").click(function() { gallerySender = $(this).attr("rel"); });
      $("#icon-remove-link").click(function() { $("#content_image_id").val(""); $("#icon-preview").remove(); $("#icon-remove-link").attr("style", "display: none"); return false; });
    });

    function addCategory(id, name, alias) {
      $("#content_category_id").append("<option value='" + id + "'>" + name + "</option>");
    }

    function setImage(id, name, url_thumb, url_small, url) {
      if ($("#gallery").parents(".ui-dialog").is(":visible"))
        $("#gallery").dialog('close');
      if (gallerySender == "icon") {
        $("#content_image_id").val(id);
        $("#icon-remove-link").attr("style", "");
        if ($("#icon-preview").length > 0) {
          $("#icon-preview").attr("src", url_thumb);
          $("#icon-preview").attr("alt", name);
        } else {
          $("#content_image_id").after("<img id='icon-preview' src='" + url_thumb + "' alt='" + name + "' />");
        }
      } else if (gallerySender == "markitup")
        $.markItUp({ replaceWith: '!' + url + '(' + name + ')!'});
    }
  </script>
<% end -%>

<%= form_for(@content, :html => { :multipart => true }) do |f| %>
  <% if @content.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>
    <ul>
    <% @content.errors.full_messages.each do |msg| %>
      <li><%= raw msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <fieldset>
    <legend><%= t(:section_general) %></legend>
    <div class="field">
      <%= f.label :author %><br />
      <%= f.text_field :author, :disabled => 'true' %>
    </div>
    <div class="field">
      <%= f.label :category, Category.model_name.human %><br />
      <%= f.collection_select :category_id, @categories, :id, :label %>
      <%= link_to t(:title, :scope => [:categories, :new]), new_category_path, :remote => true %>
    </div>
    <div class="field">
      <%= f.label :url_alias %><br />
      <%= f.text_field :url_alias, :maxlength => 50 %>
    </div>
    <div class="flaglist">
      <div class="field">
        <%= f.label :published %><br />
        <%= f.check_box :published %>
      </div>
      <div class="field">
        <%= f.label :has_comments %><br />
        <%= f.check_box :has_comments %>
      </div>
      <div class="field">
        <%= f.label :in_home %><br />
        <%= f.check_box :in_home %>
      </div>
    </div>
    <div class="field" style="clear: both;">
      <%= f.label :image %><br/>
      <%= f.hidden_field :image_id %>
      <%= image_tag(@content.image.url(:thumb), :id => 'icon-preview') unless @content.image.nil? %>
      <%= link_to t(:browse), :images, :remote => true, :id => "icon-browse-link", :class => "gallery-browse", :rel => 'icon' %>
      <%= link_to t(:remove), '#', :id => "icon-remove-link", :style => (@content.image.nil? ? "display: none;" : "") %>
    </div>
    <div class="field">
      <%= f.label :tags %><br />
      <%= f.text_field :tags_list %>
    </div>
  </fieldset>

  <div id="tabs">
    <ul>
      <li class="tab"><a href="#it"><span><%= t :it, :scope => :languages %></span></a></li>
      <li class="tab"><a href="#en"><span><%= t :en, :scope => :languages %></span></a></li>
    </ul>
    <div id="it">
      <div class="field">
        <%= f.label :title_it, t(:title, :scope => :attributes) %><br />
        <%= f.text_field :title_it %>
      </div>
      <div class="field">
        <%= f.label :summary_it, t(:summary, :scope => :attributes) %><br />
        <%= f.text_area :summary_it, :cols => 80, :rows => 2 %>
      </div>
      <div class="field">
        <%= f.label :content_it, t(:content, :scope => :attributes) %><br />
        <%= f.text_area :content_it %>
      </div>
    </div>
    <div id="en">
      <div class="field">
        <%= f.label :title_en, t(:title, :scope => :attributes) %><br />
        <%= f.text_field :title_en %>
      </div>
      <div class="field">
        <%= f.label :summary_en, t(:summary, :scope => :attributes) %><br />
        <%= f.text_area :summary_en, :cols => 80, :rows => 2 %>
      </div>
      <div class="field">
        <%= f.label :content_en, t(:content, :scope => :attributes) %><br />
        <%= f.text_area :content_en %>
      </div>
    </div>
  </div>
  <fieldset id="attachments">
    <legend><%= t(:attachment_mgr) %></legend>
    <ul>
      <% @content.attachments.each do |a| %>
        <li id="attachment_<%= a.id %>"><%= a.file_file_name %> (<%= link_to t(:link_destroy), content_destroy_attachment_path(:id => @content.id, :aid => a.id), :method => :delete, :remote => true %>)</li>
      <% end -%>
    </ul>
    <%= link_to t(:attachment_add), contents_add_attachment_path, :remote => true, :id => 'add_attachment' %>
  </fieldset>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<%= render :partial => 'categories/jsform', :locals => { :category => Category.new } %>
<%= render :partial => 'images/jsform' %>
