<div id="post-list">
  <% posts.each do |p| %>
    <div class="post_item">
      <%= image_tag(p.image.url(:thumb), :class => 'contenticon') unless p.image.nil? %>
      <div class="title-box"><h2 class="title"><%= link_to p.title, show_content_path({:category_alias => p.category.url_alias, :url_alias => p.url_alias}) %></h2></div>
      <div class="meta">
        <div class="submitted">
          <%= t :created_at, :scope => :attributes %> <%= l p.created_at, :format => :medium %>
          <% unless p.created_at == p.updated_at %>
            - <%= t :updated_at, :scope => :attributes %> <%= l p.updated_at, :format => :medium %>
          <% end -%>
        </div>
        <%= render :partial => 'tags/list', :locals => {:tags => p.tags} %>
      </div>
      <div class="summary"><p><%= raw p.summary %></p></div>
    </div>
  <% end -%>
  <%= will_paginate posts %>
</div>
