<% if @content.image.nil? %>
  <% title @content.title %>
<% else %>
  <% title @content.title, false %>
  <h1><%= image_tag(@content.image.url(:thumb), :id => 'icontitle', :class => 'contenticon') %> <%= @content.title %></h1>
<% end -%>

<% meta_description(@content.summary) unless @content.summary.blank? %>

<% content_for :head do %>
  <%= javascript_include_tag :jquery_ui %>
  <%= stylesheet_link_tag :jquery_ui %>
  <% if @content.has_comments %>
    <script type="text/javascript">
      $(document).ready(function() {
        <% if @content.comments.empty? %>
          $("#comment-list-link").hide();
        <% else %>
          $("#comment-add-link").hide();
          $("#comment-list-link").click(function() { showStatus(30, 'Loading comments ...'); $("#comment-list-link").hide(); $("#comment-add-link").show(); });
        <% end -%>
        $("#comments").attr("style", "");
        $("#add-comment").attr("style", "");
        $("#comments").hide();
        $("#add-comment").hide();
        $("#comment-add-link").click(function() {
          $("#comment-add-link").hide();
          $("#new_comment").clearForm();
          $("#add-comment").show('blind', {}, 500);
          return false;
        });

        $("#new_comment").attr("data-remote", "true");
        $("#new_comment").submit(function() { showStatus(30, 'Sending comment ...'); });
        $("#comment_submit").click(function() {
          $("#comment-add-link").show('blind', {}, 500);
          $("#add-comment").toggle('blind', {}, 500);
        });
      });
    </script>
  <% end -%>
<% end -%>

<div class="post_show <%='unpublished' if !@content.published -%>">
  <div class="meta">
    <div class="submitted">
      <%= t :created_at, :scope => :attributes %> <%= l @content.created_at, :format => :medium %>
      <% unless @content.created_at == @content.updated_at -%>
        - <%= t :updated_at, :scope => :attributes %> <%= l @content.updated_at, :format => :medium %>
      <% end -%>
    </div>
    <%= render :partial => 'tags/list', :locals => { :tags => @content.tags.order("label_#{I18n.locale}") } %>
  </div>
  <% unless @content.summary.nil? || @content.summary.empty? %>
    <div class="summary"><p><%= raw @content.summary %></p></div>
  <% end -%>
  <div class="content"><%= raw TextileUtil.to_html(@content.content) %></div>
  <div class="content-separator">&nbsp;</div>
  <% unless @content.attachments.empty? %>
    <div class="attachments">
      <h4><%= t :attachment_mgr %></h4>
      <ul>
      <% @content.attachments.each do |a| %>
        <li><%= link_to a.file_file_name, a.file.url %></li>
      <% end -%>
      </ul>
    </div>
  <% end -%>
  <% if @content.has_comments %>
    <%= render :partial => 'common/progress' %>
    <div id="add-comment" class="ui-widget-content ui-corner-all" style="display: none">
      <h3 class="ui-widget-header ui-corner-all"><%= t :title, :scope => [:comments, :new] %></h3>
      <%= render :partial => 'comments/form' %>
    </div>
    <%= link_to t(:title, :scope => [:comments, :new]), new_comment_path(@content.category.url_alias, @content.url_alias), :id => 'comment-add-link', :remote => true %>
    <%= link_to t(:comment_mgr, :count => @content.comments.length), :comments, :id => 'comment-list-link', :remote => true %>
    <div id="comments" style="display: none">
      <h3><%= t :title, :scope => [:comments, :index] %></h3>
      <div id="comment-list">
      </div>
    </div>
  <% end -%>
</div>

<% if author_signed_in? %>
  <div id="content-actions">
    <%= link_to t(:link_edit), edit_content_path(@content) %> 
    <%= link_to t(:back), contents_path %>
  </div>
<% end -%>
