<% if @content.image.nil? %>
  <% title @content.title %>
<% else %>
  <% title @content.title, false %>
  <h1><%= image_tag(@content.image.url(:thumb), :id => 'icontitle', :class => 'contenticon') %> <%= @content.title %></h1>
<% end -%>

<% meta_description(@content.summary) unless @content.summary.blank? %>

<div class="post_show <%='unpublished' if !@content.published -%>">
  <div class="meta">
    <div class="submitted">
      <%= t :created_at, :scope => :attributes %> <%= l @content.created_at, :format => :medium %>
      <% unless @content.created_at == @content.updated_at -%>
        - <%= t :updated_at, :scope => :attributes %> <%= l @content.updated_at, :format => :medium %>
      <% end -%>
    </div>
    <%= render :partial => 'tags/list', :locals => { :tags => @content.tags.order("label_#{I18n.locale}") } %>
  </div>
  <% unless @content.summary.nil? || @content.summary.empty? %>
    <div class="summary"><p><%= raw @content.summary %></p></div>
  <% end -%>
  <div class="content"><%= raw TextileUtil.to_html(@content.content) %></div>
  <div class="content-separator">&nbsp;</div>
  <% unless @content.attachments.empty? %>
    <div class="attachments">
      <h4><%= t :attachment_mgr %></h4>
      <ul>
      <% @content.attachments.each do |a| %>
        <li><%= link_to a.file_file_name, a.file.url %></li>
      <% end -%>
      </ul>
    </div>
  <% end -%>
  <% if @content.has_comments %>
    <%= id_comments @content, :title => @content.title, :acct_no => ID_ACCT_NO_I18N.has_key?(I18n.locale) ? ID_ACCT_NO_I18N[I18n.locale] : ID_ACCT_NO %>
  <% end -%>
</div>

<% if author_signed_in? %>
  <div id="content-actions">
    <%= link_to t(:link_edit), edit_content_path(@content) %> 
    <%= link_to t(:back), contents_path %>
  </div>
<% end -%>
