<%= form_for @comment, :url => (@comment.id.nil? ? comments_path : comment_path(@comment.content.category.url_alias, @comment.content.url_alias, @comment.id)), :html => { :method => (@comment.id.nil? ? :post : :put) } do |f| %>
  <div id="comment-errors">
    <% if @comment.errors.any? %>
      <div id="errorExplanation">
        <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this content from being saved:</h2>
        <ul>
          <% @comment.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :user_name %><br/>
    <%= f.text_field :user_name %>
  </div>
  <div class="field">
    <%= f.label :user_email %><br/>
    <%= f.text_field :user_email %>
  </div>
  <div class="field">
    <%= f.label :body %><br/>
    <%= f.text_area :body, :cols => 60, :rows => 3 %>
  </div>
  <%= f.submit %>
<% end -%>
