<% content_for :head do -%>
  <%= javascript_include_tag :jquery_ui %>
  <%= stylesheet_link_tag :jquery_ui %>
  <script type="text/javascript">
    $(document).ready(function() {
      $("#tabs").tabs();
    });
  </script>
<% end -%>

<%= form_for(@block) do |f| %>
  <% if @block.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@block.errors.count, "error") %> prohibited this block from being saved:</h2>
    <ul>
    <% @block.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :block_type, t(:type, :scope => :attributes) %><br />
    <%= f.select :block_type, options_for_select(available_block_types) %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.collection_select :content_id, published_contents, :id, :title %>
  </div>
  <div class="field">
    <%= f.label :show_title %><br />
    <%= f.check_box :show_title %>
  </div>
  <div id="tabs">
    <ul>
      <li class="tab"><a href="#it"><span><%= t :it, :scope => :languages %></span></a></li>
      <li class="tab"><a href="#en"><span><%= t :en, :scope => :languages %></span></a></li>
    </ul>
    <div id="it">
      <div class="field">
        <%= f.label :title_it, t(:title, :scope => :attributes) %><br />
        <%= f.text_field :title_it %>
      </div>
    </div>
    <div id="en">
      <div class="field">
        <%= f.label :title_en, t(:title, :scope => :attributes) %><br />
        <%= f.text_field :title_en %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
