<%# JS: $("#category-tabs").tabs() should be added to the invoking view to show tabs %>

<%= form_for(@category) do |f| %>
  <% if @category.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@category.errors.count, "error") %> prohibited this category from being saved:</h2>
    <ul>
    <% @category.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :url_alias %><br />
    <%= f.text_field :url_alias %>
  </div>

  <div id="category-tabs">
    <ul>
      <li class="tab"><a href="#category-it"><span><%= t :it, :scope => :languages %></span></a></li>
      <li class="tab"><a href="#category-en"><span><%= t :en, :scope => :languages %></span></a></li>
    </ul>
    <div id="category-it">
      <div class="field">
        <%= f.label :label_it, t(:label, :scope => :attributes) %><br />
        <%= f.text_field :label_it %>
      </div>
    </div>
    <div id="category-en">
      <div class="field">
        <%= f.label :label_en, t(:label, :scope => :attributes) %><br />
        <%= f.text_field :label_en %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
