<%= form_for(@image, :html => { :multipart => true }, :id => 'new_image') do |f| %>
  <% if @image.errors.any? %>
  <div id="errorExplanation">
    <h2><%= pluralize(@image.errors.count, "error") %> prohibited this image from being saved:</h2>
    <ul>
    <% @image.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <% unless @image.content.nil? || @image.title.nil? %>
    <div class="image preview">
      <p>URL: <span class="url"><%= @image.url %></span></p>
      <%= image_tag @image.url, :alt => @image.title %>
    </div>
  <% end -%>
  <div class="field">
    <%= f.label :content %><br/>
    <%= f.file_field :content %>
  </div>

  <div id="image-tabs">
    <ul>
      <li class="tab"><a href="#image-it"><span><%= t :it, :scope => :languages %></span></a></li>
      <li class="tab"><a href="#image-en"><span><%= t :en, :scope => :languages %></span></a></li>
    </ul>
    <div id="image-it">
      <div class="field">
        <%= f.label :title_it, t(:title, :scope => :attributes) %><br />
        <%= f.text_field :title_it %>
      </div>
    </div>
    <div id="image-en">
      <div class="field">
        <%= f.label :title_en, t(:title, :scope => :attributes) %><br />
        <%= f.text_field :title_en %>
      </div>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
