$("#gallery .list").empty();
<% @images.each do |image| %>
  <% rit = image.title.gsub "'", %q{\\\'} %>
  $("#gallery .list").append('<div id="gallery-item_<%= image.id %>" class="gallery-item clear-inline"><a href=""><%= image_tag(image.url(:small)) %></a><a href="" class="item-title"><%= rit %></a></div>');
  $("#gallery-item_<%= image.id %> a").click(function() { setImage('<%= image.id %>', '<%= rit %>', '<%= image.url(:thumb) %>', '<%= image.url(:small) %>', '<%= image.url %>'); $("#gallery").dialog('close'); return false; });
<% end -%>

$("#gallery .nav").empty();
$("#gallery .nav").append('<%= will_paginate @images %>');
$("#gallery .nav .pagination a").attr("data-remote", "true");

if (!$("#gallery").parents(".ui-dialog").is(":visible"))
  $("#gallery").dialog({
    modal: true,
    width: Math.min(820, 0.8 * $(window).width()),
    height: Math.min(600, 0.8 * $(window).height()),
    buttons: {
      '<%= t(:title, :scope => [:images, :new]) %>': function() {
        $.ajax({ type: 'GET', url: '<%= new_image_path %>', dataType: 'script' });
      }
    }
  });
