$("#gallery .list").empty();
<% @images.each do |image| %>
  $("#gallery .list").append('<div id="gallery-item_<%= image.id %>" class="gallery-item"><a href=""><%= image_tag(image.url(:small)) %></a><a href="" class="item-title"><%= image.title %></a></div>');
  $("#gallery-item_<%= image.id %> a").click(function() { setImage('<%= image.id %>', '<%= image.title %>', '<%= image.url(:thumb) %>', '<%= image.url(:small) %>', '<%= image.url %>'); $("#gallery").dialog('close'); return false; });
<% end -%>

$("#gallery .nav").empty();
$("#gallery .nav").append('<%= will_paginate @images %>');
$("#gallery .nav .pagination a.previous_page").attr("data-remote", "true");
$("#gallery .nav .pagination a.next_page").attr("data-remote", "true");

if (!$("#gallery").parents(".ui-dialog").is(":visible"))
  $("#gallery").dialog({
    modal: true,
    width: Math.min(820, 0.8 * $(window).width()),
    height: Math.min(600, 0.8 * $(window).height()),
    buttons: {
      '<%= t(:image_new) %>': function() {
        $.ajax({ type: 'GET', url: '<%= new_image_path %>', dataType: 'script' });
      }
    }
  });
