<% title @image.title %>

<p>
  <%= image_tag @image.url %>
</p>

<p>
  <b><%= t :content_file_name, :scope => :attributes %>:</b>
  <%= @image.content_file_name %>
</p>

<p>
  <b><%= t :content_content_type, :scope => :attributes %>:</b>
  <%= @image.content_content_type %>
</p>

<p>
  <b><%= t :content_file_size, :scope => :attributes %>:</b>
  <%= @image.content_file_size %>
</p>

<p>
  <b><%= t :title, :scope => :attributes %></b>
  <%= @image.title %>
</p>

<%= link_to t(:link_edit), edit_image_path(@image) %> |
<%= link_to t(:back), images_path %>
